@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.hero-title {
    font-family: "Montserrat", sans-serif;
}

.text-10em {
    font-size: 10em;
}

.bottom-left-10 {
    left: 10%;
}

.right-10 {
    right: 10%;
}

.bottom-50 {
    bottom: 50%;
}

.bg-gym {
    background-image: url('/gym.webp');
}

.bg-slate-dark {
    background-color: #1F1F1F;
}

.font-oxanium {
    font-family: "Oxanium", sans-serif;
}